.container{
    background-color: #ccc;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-flow: wrap;
    align-items: stretch;
    align-content: flex-start;
}

.item{
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    height: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    flex: 1 1 300px;
}

.article-01 {
    padding-top: 40px;
}

.article-01{
    order: 3; 
    flex-shrink: 3;
}

.article-02{
    order: 1; 
    align-self: auto;
}

.article-03{
    order: 2;
}
.article-04{
    order: 4;
}