body, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
header .container .logo{
    display: flex;
    align-items: center;
}
header .container .logo a{
    font-size: 1.5em;
    color: rgb(185, 72, 72);
    font-weight: bold;
}
header .container .logo a span{
    color: rgb(81, 116, 192);
}

header .container .menu{
    display: flex;
    align-items: center;
}
header .container .menu nav ul{
    display: flex;
}
header .container .menu nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
header .container .menu nav ul a{
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;/*TRANSFORMAÇÃO PARA LETRA MAIÚSCULA*/
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav .active a, nav a:hover{
    background-color: #39aae1;
    color: #FFF;
}
#banner{
    background-image: url("../img/mulher-bracos-abertos.jpg");
    background-position: center;
    background-size: 100%;
    height: 200px;
}

